### Question 1.

##### Database is a collection of properly formatted data which can be managed in prominent way so during that we can perform CRUD operation.

##### SQL means structured Query Language and for SQL database we need to use SQL queries to communicate with database. Its a relational database with have functionality of creating tables (a list of records) whic have rows and that table can connect with other table to show a raltaionship between each other. 

##### NoSQL means **not only SQL** so there are databased which can other formates for data storage like hierarchical strtucture.

### Question 2.

#### **DDL** stands for Data Defination Language, its part of SQL query where that that is use to change the structure of databse like change table name or adding column or changing something in indexes etc.

##### **CREATE** - that is use to create databse or table
##### 1. CREATE DATABASE test
##### 2. CREATE TABLE new_table(c1 VARCHAR(50), c2 INT) 

##### **DROP** - that is use to frop the whole table means data & structure (means with indexes) of table
##### 1. DROP TABLE new_table;

##### **ALTER** - alter is use to change the structure of table like add, update or delete column of table
##### 1. ALTER TABLE Customers ADD Email varchar(255);
##### 2. ALTER TABLE table_name RENAME COLUMN old_name to new_name;

##### **TRUNCATE** - its little bit different from DROP here only records of table will be removed table strcture and indexes will remain same
##### 1. TRUNCATE TABLE Categories;

### Question 3.

#### **DML** stands for Data Manipulation Language which use to do changes of data in table.

##### **INSERT** - that is use to create record or row in table
##### 1. INSERT INTO table_name (c1, c2) VALUES ("Madhu", 26) -- here need to specify column name 
##### 2. INSERT INTO table_name VALUES ("Madhu", 26) -- here need to maintain order os column

##### **UPDATE** - that is use to update record or row in table
##### 1. UPDATE table_name SET c1 = "Sudan", c2 = 27 WHERE c1 = "Madhu";

##### **DELETE** - that is use to delete record or row in table
##### 1. DELETE table_name WHERE c1 = "Madhu";

### Question 4.

#### **DQL** stands for Data QUERY Language which use to do get data form database by querying to database asking question to database & wo get results in answer.

##### **SELECT** - that is use to select records from table(s) as query.
##### SELECT * from table_name WHERE c1 = "Madhu"

### Question 5.

##### **Primary Key** is a kind od indexing which is required to make a record unique in table that primary is also important to make relation which other  table because that is use to create frokey in othre table.

##### CREATE TABLE table_name1 (
#####   customer_id INT AUTO_INCREMENT PRIMARY KEY,
#####   first_name VARCHAR(50),
#####   last_name VARCHAR(50),
#####   email VARCHAR(100),
#####   phone VARCHAR(20)
##### );

##### **Foriegn Key** that is use in second table to which we are making relationship with. That will be primary key of some other table.

##### CREATE TABLE table_name2 (
#####   order_id INT AUTO_INCREMENT PRIMARY KEY,
#####   customer_id INT,
#####   order_date DATE,
#####   FOREIGN KEY (customer_id) REFERENCES table_name1(customer_id)
##### );

### Question 6.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select c1 ,c5 from test1.test_table")
for i in mycursor.fetchall():
    print(i)

##### In laymen term **cursor** is a pointer which is used to mark current position and as in database we have lots of record that helps to travel in between & track where we are right noe. In python cursor() method help to excute sql queries & also helps o travel in that resulted records which we got from excuted query.

##### **execute** provide a feature to perform SQL operation in python.

### Question 7.

##### FROM -> JOIN -> WHERE -> GROUP BY -> HAVING -> SELECT -> DISTINCT -> ORDER BY -> LIMIT

##### **FROM** this is use to specify table from which we start to process data.
##### **JOIN** this is use to join two tables by foriegn key.
##### **WHERE** this is use to filter record with a perticular condition.
##### **GROUP BY** this is use to group by perticular column or attribute.
##### **HAVING** this is use to groups with a perticular condition.
##### **SELECT** this is use to specify columns which we need as a result.
##### **DISTINCT** this is use to make list unique with respect to perticular column.
##### **ORDER BY** this is use to sort the result.
##### **LIMIT** this is use to fetch fix number of records normally used for pagination in web.