### Consider following code to further answers

In [13]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={"course_name": course_name, "duration": duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Question 1.

In [11]:
# df[1: 2]
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Question 2.

loc is for fetch dataframe based on label of column & row

In [17]:
df.loc[[0, 1], ['course_name', 'duration']]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

iloc is for fetch dataframe based on position of column & row in interger format

In [20]:
print(df.iloc[[0, 1], [0, 1]])

        course_name  duration
0      Data Science         2
1  Machine Learning         3

### Question 3.

In [25]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print("new_df.loc[2]: - ")
print(new_df.loc[2])
print("new_df.iloc[2]: - ")
print(new_df.iloc[2])

new_df.loc[2]: -
course_name    Big Data
duration              6
Name: 2, dtype: object
new_df.iloc[2]: -
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Consider the below code to answer further answers:

In [27]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Question 4.

(i) mean of each and every column present in the dataframe.

In [29]:
df1.mean()

column_1    0.473360
column_2    0.524548
column_3    0.558555
column_4    0.518574
column_5    0.510420
column_6    0.436882
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [33]:
df1['column_2'].std()

0.4132222294210423

### Question 5.