### Consider following code to further answers

In [13]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={"course_name": course_name, "duration": duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Question 1.

In [11]:
# df[1: 2]
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Question 2.

loc is for fetch dataframe based on label of column & row

In [17]:
df.loc[[0, 1], ['course_name', 'duration']]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

iloc is for fetch dataframe based on position of column & row in interger format

In [20]:
print(df.iloc[[0, 1], [0, 1]])

        course_name  duration
0      Data Science         2
1  Machine Learning         3

### Question 3.

In [25]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print("new_df.loc[2]: - ")
print(new_df.loc[2])
print("new_df.iloc[2]: - ")
print(new_df.iloc[2])

new_df.loc[2]: -
course_name    Big Data
duration              6
Name: 2, dtype: object
new_df.iloc[2]: -
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Consider the below code to answer further answers:

In [27]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Question 4.

(i) mean of each and every column present in the dataframe.

In [29]:
df1.mean()

column_1    0.473360
column_2    0.524548
column_3    0.558555
column_4    0.518574
column_5    0.510420
column_6    0.436882
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [33]:
df1['column_2'].std()

0.4132222294210423

### Question 5.

In [43]:
# 1. replacing column2 * rown 2 with variable
str_var = "madhu"

df1["column_2"][2] = str_var
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.176552  0.887652  0.852400  0.869683  0.800975  0.648664
2  0.092368     madhu  0.149175  0.225512  0.109061  0.695333
3  0.633599  0.821345  0.383281  0.859840  0.907631  0.008362
4  0.747130    0.1619  0.762763  0.316896  0.675955  0.810496
5  0.482582  0.216718  0.251157  0.814809  0.017140  0.310959
6  0.707925   0.07845  0.952557  0.024706  0.551759  0.147478

In [41]:
# 2. trying to fing means of column 2
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We will get error because in column2 one value is non numeric which can't be in calculation

### Question 6.

Window function is a to run a piece of code in perticular sets in a data frame so result will come for that window size.
And for excucteing window statements rolling function is used

and we can do multiple things with window functions -

In [45]:
#1. rolling
df1.column_1.rolling(window=2).mean()

1         NaN
2    0.134460
3    0.362984
4    0.690365
5    0.614856
6    0.595254
Name: column_1, dtype: float64

In [48]:
#2.  expanding
df1.column_1.expanding().mean()

1    0.176552
2    0.134460
3    0.300840
4    0.412413
5    0.426446
6    0.473360
Name: column_1, dtype: float64

In [50]:
#3. EWMA (Exponentially Weighted Moving Average)
df1.ewm()

### Question 7.